<br>


<div class="jumbotron" style="background-color:white;">
  <h1 class="display-4">Bienvenidos, ¡somos multicultural!</h1>
  <p class="lead">¡Akeyi, welcome, Bienvenue, i mirëpritur, willkommen, дабро запрашаем, dobrodošli, benvingut, vítejte Bienvenue,
    dobrodošli, velkommen, vitajte, dobrodošli, teretulnud, ongietorri, tervetuloa!</p>
  <hr class="my-4">
  <p>Somos  un blog el cual esta dedicado para mostrar las diversas culturas, ademas de generar un ambiente de cero xenofobia.</p>
    <p> Nuestra meta es generar amor intercultural. </p>
  <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/blog']">Dejanos un mensaje</a>
</div>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container" style="border: grey">
          <strong><h4>Un pedacito de nosotros:</h4></strong>
          
          <a href="https://www.youtube.com/watch?v=tknOsv9t3Ew" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/Colombia-Flag.png" height="40px"></a>
          <a href="https://www.youtube.com/watch?v=nFUoaJlqI_k&feature=youtu.be" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/Venezuela-Flag.png" height="40px"></a>
          <a href="https://www.youtube.com/watch?v=UC031RMDdKc" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/Chile-Flag.png" height="40px"></a>
          <a href="https://www.youtube.com/watch?v=vevFBuEjExw&t=6s" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/Haiti-Flag.png" height="40px"></a>
          
        </div>
      </nav>

      <div class="container">
      <div class="card-deck" style="margin-top: 1em">
        <div class="card">
          <img src="https://www.incae.edu/sites/default/files/styles/firehose-main-mobile-landscape/public/micforum.jpg?itok=Ydc2gf1a" class="card-img-top" alt="..." style="width: 300px; height:200px; margin:auto; margin-top:1em;" />
          <div class="card-body">
            <h5 class="card-title text-center">Todos somos uno</h5>
            <br>
            <p class="card-text text-justify">
              La xenofobia va contra los derechos humanos, va contra los más elementales principios del humanismo,
               va en contra de los valores democráticos. Es el negacionismo de las personas. 
               Los que siembran la xenofobia, los que la presentan como una opción política son un 
               peligro para la democracia, son un peligro para la normal convivencia.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/13/35/54/04/multicultural-mural.jpg" class="card-img-top" alt="..." style="width: 300px; height:200px; margin:auto; margin-top:1em;"/>
          <div class="card-body">
            <h5 class="card-title text-center">¡No me llames extranjero!</h5>
            <br>
            <p class="card-text text-justify">
              No me llames extranjero, por que haya nacido lejos,
O por que tenga otro nombre la tierra de donde vengo
No me llames extranjero, por que fue distinto el seno
O por que acunó mi infancia otro idioma de los cuentos. (Rafael Amor)
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://www.churchleadership.com/wp-content/uploads/2010/02/lightstock_246026_medium_ann_.jpg"
            class="card-img-top"
            alt="..." style="width: 300px; height:200px; margin:auto; margin-top:1em;"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Afroamericana</h5>
            <br>
            <p class="card-text text-justify">
              En Venezuela no me creen vanezolana
              En America Latina 
              No me creen latinoamericana
              Me hablan otros idiomas
              Me preguntan
              si soy africana
              Pero todavía hay quien le ofende
              Cuando digo que soy 
             Afroamericana.
            </p>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<div class="container">
    <div class="card bg-dark text-white">
      <a href="https://fondationforge.org/cursos-virtuales" target="_blank"></a><img src="https://fondationforge.org/assets/img/equipo/header-equipo.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Experiencias que transforman la vida de cientos de jovenes migrantes</h5>
        <p class="card-text">¿Estás pensando en tu futuro laboral?
          Conoce el curso de capacitación laboral 100% gratuito y online.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>
          
              
    
    
  
  