<br>
<br>

<body class="bg-light" class="container mat-elevation-z4" style="width: 50%; padding: 1em; margin: auto;">
    
    <div>
    <div class="container" style="width: 100%; padding: 1em; margin: auto; background-color: white">
  <div class="text-center">
  
  </div>
  
  <div class="row">
    
    <div class="order-md-1" style="margin-left:2em;">
      <h6 class="mb-3 text-center display-4" styl2="font-size: 2.5em;">Únete</h6>
      <br>
      <hr class="colorgraph">
      <form class="needs-validation" >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="validationServerNombre">Nombre</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required [(ngModel)]= "nombres" name ="nombres">
            <div class="invalid-feedback">
              Se requiere su Nombre.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required [(ngModel)]= "apellidos" name ="apellidos">
            <div class="invalid-feedback">
              Se requiere su Apellido.
            </div>
          </div>
        </div>
  
        <div class="mb-3">                  
  
          <label for="username">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">        
              
            </div>
            
            <input type="email" class="form-control" id="email" placeholder="holamundo@example.com" required [(ngModel)]= "correo" name ="correo">
            <div class="invalid-feedback" style="width: 100%;">
              Ingresar un Email valido.
            </div>
          </div>
        </div>
  
        <div class="mb-3"> <!--rut-->
          <label for="rut">Rut</label>
          <input type="rut" class="form-control" id="rut" placeholder="19.023.551-4" [(ngModel)]= "rut" name ="rut">
          <div class="invalid-feedback">
            Por favor ingresar un rut valido.
          </div>
        </div>         

        <div class="mb-3"> <!--rut-->
            <label for="contraseña">Contraseña</label>
            <input type="password" class="form-control" id="rut" placeholder="Mínimo 4 carácteres" [(ngModel)]= "contra" name = "contra">
            <div class="invalid-feedback">
              Mínimo 4 carácteres
            </div>
          </div>    
  <!--Calendario-->
        <div class="row">
          
          <form action="">
           <div class="mb-3">           
           <label for="start" style="margin-right: 1em; margin-left: 1em;">Fecha de Nacimiento</label>
          <input type="date" id="start" name="trip-start" value=""  min="1980-01-01" max="2020-08-26" [(ngModel)]= "fechaNacimiento" name ="fechaNacimiento">
        </div>
      </form>  
  
      </div>       
      
      <mat-checkbox color="primary" required >
        He leído y estoy de acuerdo con las condiciones de uso y política de privacidad
    </mat-checkbox>
        
    <hr class="colorgraph">
    <br>
    <br>
        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="registrar(rut, nombres, apellidos, fechaNacimiento, correo, contra)">Finalizar Registro</button>
      </form>
    </div>
  </div>
  
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2020 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
        <script src="form-validation.js"></script>
    </div>
      </body>
