<div style="width: 70%; margin: 2em auto;" class="mat-elevation-z2">
    <mat-table [dataSource]="usuario">
        <ng-container matColumnDef="rut">
            <mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.rut}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.nombres}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="apellidos">
            <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.apellidos}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fechaNacimiento">
            <mat-header-cell *matHeaderCellDef> Fecha de nacimiento </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.fechaNacimiento}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="correo" style="margin: 3em auto;">
            <mat-header-cell *matHeaderCellDef> Correo Electrónico </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.correo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="contrasenha">
            <mat-header-cell *matHeaderCellDef>Contraseña </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.contrasenha}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="boton">
            <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
            <mat-cell *matCellDef="let user; index as i">
                <button (click)="borrar(i)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="boton1">
            <mat-header-cell *matHeaderCellDef> Editar datos </mat-header-cell>
            <mat-cell *matCellDef="let user; index as i">
                <img src="https://cdn3.iconfinder.com/data/icons/unigrid-phantom-tools-vol-1/60/023_007_tassel_brush_paintbrush_tool_2-256.png" style="height:35px;" (click)="openDialog(user)">
                    
                
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnas"></mat-row>
    </mat-table>

    
</div> 
