@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    padding: 0px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,247,231,1) 100%);
}

